.forgot-password-page {
  text-align: center;
}

.investeur-logo {
  padding: 10px 0;
}

.label-email {
  text-align: left;
  font-size: 14px;
}

.ui.huge.transparent.input {
  border-bottom: 1px solid;
  padding: 10px 0;
}

.ui.red.left.pointing.basic.label {
  position: absolute;
  width: 20%;
  bottom: 0;
}

.content-fp {
  width: 60%;
  margin: auto auto 0;
}

button.ui.fluid.fade.animated.button.button-submit-fp {
  padding: 17px 30px;
  color: #fff;
  float: right;
  font-family: "Oxygen", sans-serif;
  background: #66cc33;
  border: 1px solid #40a46f;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
}

button.ui.fluid.fade.animated.button.button-submit-fp:hover {
  background: #07793d;
  border: 1px solid #07793d;
}

.content-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.member-login {
  margin: 0 auto;
  color: #0f8454;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 15px;
  text-align: center;
}

.login-box {
  border: 1px solid transparent;
  box-shadow: 0px 0px 50px 0px #888888;
  width: 100%;
  padding: 30px 19px;
  margin: 0 auto;
}

.fc-content {
  display: flex;
}

.the-startup-buddy-social-with > img {
  height: 75px;
  width: 240px;
}

.login-button {
  height: 30px;
  color: #4b4c7b;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
}

.login-button a:hover {
  background: #00914c;
  color: #fff;
}

.rocket-logo > img {
  height: 440px;
  width: 520px;
}

.middle-description {
  position: absolute;
  left: 425px;
  top: 150px;
}

.everything-you-need {
  height: 40px;
  width: 453px;
  color: #0f8454;
  font-size: 44px;
  font-weight: bold;
  text-align: justify;
}

.everything-you-need-description {
  height: 60px;
  width: 408px;
  color: #4b4c7b;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form-content-head {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-left: 3px solid #c7c7c7;
  padding: 10px 0px;
}

.background-continue-with-facebook,
.background-continue-with-linkedin,
.background-continue-with-facebook-login,
.background-continue-with-linkedin-login {
  width: 475px;
  height: 50px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 15px;
}

.background-continue-with-facebook-login,
.background-continue-with-linkedin-login {
  width: 100%;
}

.background-continue-with-facebook,
.background-continue-with-facebook-login {
  background: #43589a;
}

.background-continue-with-linkedin,
.background-continue-with-linkedin-login {
  background: #0086b7;
}

.icon-facebook > img,
.icon-linkedin > img {
  width: 40px;
  height: 40px;
  margin-right: 45px;
  margin-left: 10px;
}

.title-continue-with-facebook,
.title-continue-with-linkedin {
  height: 40px;
  width: 100%;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  text-align: justify;
}

#or,
#or-login {
  position: relative;
  width: calc(95% + 3px);
  height: 50px;
  opacity: 0.5;
  line-height: 50px;
  text-align: center;
}

#or-login {
  width: 100%;
}

#or::before,
#or::after {
  position: absolute;
  width: 200px;
  height: 1px;
  top: 24px;
  background-color: #aaa;
  content: "";
}

#or-login::before,
#or-login::after {
  position: absolute;
  width: 170px;
  height: 1px;
  top: 24px;
  background-color: #aaa;
  content: "";
}

#or::before,
#or-login::before {
  left: 0;
}

#or::after,
#or-login::after {
  right: 0;
}

.form-content {
  width: 475px;
}

.term-and-conditions {
  text-align: center;
}

.error-message {
  text-align: center;
  color: red;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 10px;
}

.inline.sixteen.wide.field.password-field-group div {
  margin: 0;
}

small.password-explanation {
  opacity: 0.5;
}

.button-signup {
  height: 50px;
  background-color: #00914c;
  border-radius: 25px;
  margin: 0 125px;
}

.get-started {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
}

.modal-content.content {
  text-align: justify;
}

small.modal-trigger {
  color: blue;
  font-size: 12px;
  cursor: pointer;
}

small.modal-trigger:hover,
.direct-to-signup,
.forgot-password {
  text-decoration: underline;
  color: #040496;
}

ol.ol-introduction {
  padding-left: 14px;
}

@media screen and (max-width: 1381px) {
  .the-startup-buddy-social-with {
    margin-left: 10px;
  }

  .login-button {
    margin-right: 10px;
  }

  .the-startup-buddy-social-with > img {
    height: 60px;
    width: 150px;
  }

  .login-button {
    height: 50px;
    color: #4b4c7b;
    font-size: 16px;
    font-weight: 500;
    line-height: 33px;
    text-align: right;
  }

  .everything-you-need {
    height: 30px;
    width: 100%;
    color: #0f8454;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
  }

  .everything-you-need-description {
    height: 38px;
    font-size: 16px;
    line-height: 19px;
    width: 76%;
    margin: 0 auto;
  }

  .background-continue-with-facebook,
  .background-continue-with-linkedin {
    width: 275px;
    height: 36px;
  }

  .icon-facebook > img {
    width: 30px;
    height: 30px;
    margin: 0;
  }

  .icon-linkedin > img {
    width: 30px;
    height: 26px;
    margin: 0;
  }

  .icon-facebook,
  .icon-linkedin {
    margin: 12px 9px;
  }

  .title-continue-with-linkedin,
  .title-continue-with-facebook {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 55px;
  }

  .form-content {
    width: 275px;
  }

  .button-signup {
    margin: 0 auto;
    width: 235px;
    height: 50px;
  }

  .form-content-head {
    border-left: none;
    align-items: center;
  }

  #or {
    width: 273px;
  }

  #or::before,
  #or::after {
    width: 110px;
  }

  .middle-description {
    width: 100%;
    position: inherit;
  }

  .rocket-logo {
    display: none;
  }

  .ui.grid > .row.head-fc-content {
    flex-direction: column;
    align-items: center;
  }
  .login-box {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .everything-you-need-description {
    padding: 0 15px;
  }
  .form-content-head {
    padding: 0 20px;
  }
  .login-box {
    width: 90%;
  }
  #or-login::before,
  #or-login::after {
    width: 120px;
  }
}

@media screen and (max-width: 320px) {
  .everything-you-need-description {
    padding: 0 15px;
  }
  .form-content-head {
    padding: 0;
  }
  .title-continue-with-linkedin,
  .title-continue-with-facebook {
    font-size: 14px;
  }
  #or-login::before,
  #or-login::after {
    width: 100px;
  }
}
